html, body {
  margin: 0;
  padding: 0;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.w3-btn {
  background-color: #4CAF50;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1em;
  padding: 8px 16px;
  margin: 16px 0;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
}

h1 { font-size:36px }
h2 { font-size:30px }
h3 { font-size:24px }
h4 { font-size:20px }
h5 { font-size:18px }
h6 { font-size:16px }
h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 10px 0;
}

.examples {
  p {
    code {
      color: crimson;
      background-color: #f1f1f1;
      padding: 0 4px;
      font-size: 110%;
    }
  }
}
